@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --yellow: #eddc6f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

h1 {
  margin-bottom: 24px;
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}

.container {
  min-height: 100vh;
  padding: 64px 32px;
  background-color: var(--yellow);
}

.score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 48px;
}

.score {
  font-size: 48px;
  font-weight: 200;
}

.competitor {
  font-size: 24px;
  font-weight: 400;
}

.gamebutton-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 36px;
  margin-bottom: 36px;
}

.gamebutton {
  background: none;
  border: none;
  transition: opacity 0.5s, transform 0.5s;
}

.round-result {
  font-size: 24px;
  text-align: center;
}

.newgame-container {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  top: 0;
  gap: 36px;
  background-color: rgba(0, 0, 0, 0.85);
}

.game-result {
  color: var(--yellow);
  font-size: 64px;
  font-weight: 900;
}

.restart-btn {
  color: var(--yellow);
  background: none;
  border: 1px solid var(--yellow);
  border-radius: 12px;
  padding: 12px 36px;
  font-size: 24px;
  font-weight: 200;
}

.hidden {
  display: none;
}

.choices-container {
  display: flex;
  position: relative;
  justify-content: center;
}

.computer-choice {
  position: absolute;
  transform: translateX(100px);
  transition: opacity 0.5s;
  opacity: 0;
}

.computer-choice > img {
  transform: scaleX(-1);
}

@keyframes shake {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
